<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.above.dao.PayrollMapper">

    <select id="getInstructorPayrollList" resultType="com.above.dto.PayrollDto">
       SELECT
       si.student_name AS studentName,
       iibs.company_name AS companyName,
       iibs.job_name AS jobName,
       p.student_id AS studentId,
       p.date_time AS dataTime,
       p.create_time AS createTime
       FROM
       `internship_info_by_student` AS iibs
       LEFT JOIN `internship_with_teacher` iwt on iibs.relation_plan_id=iwt.relation_plan_id
       LEFT JOIN `student_info` si on iibs.relation_student_id=si.id
       LEFT JOIN `payroll` p on iibs.relation_student_id = p.student_id
       LEFT JOIN `internship_plan_info` ipi on iibs.relation_plan_id=ipi.id
       WHERE
       p.deleted=0
       AND
       iibs.deleted=0
       AND
       ipi.deleted=0
       <if test="majorId!=null and majorId>0">
           AND ipi.major_id=#{majorId}
       </if>
       <if test="createTime!=null">
           AND p.create_time&lt;#{createTime}
       </if>
       <if test="studentName != null and studentName != ''">
           AND si.name like concat ('%',#{studentName},'%')
       </if>
       <if test="teacherId !=null" >
           AND iwt.teacher_id =#{teacherId}
       </if>
    </select>

   <select id="getPayroll" resultType="com.above.dto.PayrollDto">
      SELECT
      gi.grade_year AS gradeYear,
      mj.id AS majorId,
      mj.major_name AS majorName,
      ci.class_name AS className,
      si.student_number AS studentNumber,
      si.student_name AS studentName,
      si.id AS studentId,
      iibs.company_name AS companyName,
      iibs.job_name AS jobName,
      p.salary AS salary,
      p.date_time as dateTime,
      p.deleted
      FROM
      `payroll` AS p
      LEFT JOIN `internship_info_by_student` AS iibs on iibs.relation_student_id=p.student_id
      LEFT JOIN `student_info` AS si on si.id=p.student_id
      LEFT JOIN internship_plan_info AS ipi on ipi.id=p.internship_id
      LEFT JOIN school_teacher_relation AS str on str.school_id=ipi.school_id
      LEFT JOIN `major_info` AS mj on mj.id=ipi.major_id
      LEFT JOIN `class_teacher_relation` AS ctr on ctr.teacher_id=str.teacher_id
      LEFT JOIN `class_info` AS ci on ci.id= ctr.class_id
      LEFT JOIN `grade_info` AS gi on gi.school_id=str.school_id
      WHERE
         p.deleted=0
      <if test="studentName != null and studentName != ''">
          AND si.student_name like concat ('%',#{studentName},'%')
      </if>
      <if test="gradeYear!=null and gradeYear != ''">
          AND gi.grade_year=#{gradeYear}
      </if>
      <if test="majorName!=null and majorName!= ''">
          AND mj.major_name=#{majorName}
      </if>
      <if test="dateTime!=null">
         AND  p.date_time&gt;#{dateTime}
      </if>
      ORDER BY gi.grade_year,ci.class_name,p.create_time DESC
      <if test="page != null and page != 0">
         limit #{page},#{size}
      </if>
   </select>
   <select id="countPayroll" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM `payroll` AS p            -- 工资单
      LEFT JOIN `internship_info_by_student` AS iibs on iibs.relation_student_id=p.student_id
      LEFT JOIN `student_info` AS si on si.id=p.student_id
      LEFT JOIN internship_plan_info AS ipi on ipi.id=p.internship_id
      LEFT JOIN school_teacher_relation AS str on str.school_id=ipi.school_id
      LEFT JOIN `major_info` AS mj on mj.id=ipi.major_id
      LEFT JOIN `class_teacher_relation` AS ctr on ctr.teacher_id=str.teacher_id
      LEFT JOIN `class_info` AS ci on ci.id= ctr.class_id
      LEFT JOIN `grade_info` AS gi on gi.school_id=str.school_id             -- 年级表
      WHERE
      p.deleted=0
      ORDER BY gi.grade_year,ci.class_name,p.create_time
   </select>
   <select id="getStudentPayrollList" resultType="com.above.dto.PayrollDto">
      SELECT
      p.id,
      p.student_id AS studentId,
      iibs.company_name AS companyName,
      p.date_time AS dateTime
      FROM payroll AS p
      LEFT JOIN internship_info_by_student AS iibs ON p.student_id=iibs.relation_student_id
      WHERE p.deleted=0
      AND iibs.deleted=0
      <if test="studentId!=null || studentId!=0" >
         AND p.student_id=#{studentId}
      </if>
   </select>

</mapper>
