<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.above.dao.StudentInfoMapper">

    <sql id="studentInfo">
        s.id,
        s.user_id,
        s.grade_id,
        s.school_id,
        s.department_id,
        s.class_id,
        s.major_id,
        s.mail,
        s.student_name,
        s.student_number,
        s.birth_date,
        s.gender,
        s.telephone,
        s.update_by,
        s.update_datetime,
        s.create_by,
        s.create_datetime,
        s.study_status
    </sql>
    <sql id="baseLeftJoinField">
        sc.school_name as schoolName,
        de.department_name as gradeName,
        cla.class_name as departmentName,
        ma.major_name as majorName,
        gr.grade_year as className
    </sql>
    <sql id="baseLeftJoin">
        LEFT JOIN school_info AS sc ON s.school_id = sc.id
        LEFT JOIN department_info de ON s.department_id = de.id
        LEFT JOIN class_info AS cla ON s.class_id = cla.id
        LEFT JOIN major_info AS ma ON s.major_id = ma.id
        LEFT JOIN grade_info AS gr ON s.grade_id = gr.id
    </sql>
    <select id="selectStudentById" resultType="com.above.dto.StudentInfoDto">
        SELECT
            <include refid="studentInfo"></include>,
            <include refid="baseLeftJoinField"></include>
        FROM
            student_info AS s
            <include refid="baseLeftJoin"></include>
        WHERE
            s.id = #{studentId}
    </select>
    <select id="selectStudentListByBaseVo" resultType="com.above.dto.StudentInfoDto">
        SELECT
            <include refid="studentInfo"></include>,
            <include refid="baseLeftJoinField"></include>
        FROM
            student_info AS s
            <include refid="baseLeftJoin"></include>
        <where>
            <if test="schoolId != null and schoolId > 0">
                s.school_id = #{schoolId}
            </if>
            <if test="schoolIdList != null and schoolIdList.size()>0">
                AND s.school_id IN
                <foreach collection="schoolIdList" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="departmentId != null and departmentId > 0">
                s.department_id = #{departmentId}
            </if>
            <if test="departmentIdList != null and departmentIdList.size()>0">
                AND s.department_id IN
                <foreach collection="departmentIdList" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="classId != null and classId > 0">
                s.class_id = #{classId}
            </if>
            <if test="classIdList != null and classIdList.size()>0">
                AND s.class_id IN
                <foreach collection="classIdList" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="majorId != null and majorId > 0">
                s.major_id = #{majorId}
            </if>
            <if test="gradeId != null and gradeId > 0">
                s.grade_id = #{gradeId}
            </if>
            <if test="key != null and key != ''">
                s.student_name like concat('%',#{key},'%')
            </if>
        </where>
        limit #{start},#{size}
    </select>
    <select id="selectStudentByUserId" resultType="com.above.dto.StudentInfoDto">
        SELECT
        <include refid="studentInfo"></include>,
        <include refid="baseLeftJoinField"></include>
        FROM
        student_info AS s
        <include refid="baseLeftJoin"></include>
        WHERE
        s.user_id = #{userId}
    </select>

</mapper>
